<section class="footer">
  <div class="footer__content">
    <div class="footer-section">
      <span class="section-header">Quick Links</span>
      <a routerLink="/" routerLinkActive="active">News</a>
      <a routerLink="/" routerLinkActive="active">Business</a>
      <a routerLink="/" routerLinkActive="active">Jobs & Careers</a>
      <a routerLink="/" routerLinkActive="active">Education</a>
      <a routerLink="/" routerLinkActive="active">Attractions</a>
    </div>
    <div class="footer-section">
      <span class="section-header">Multimedia</span>
      <a routerLink="/" routerLinkActive="active">Videos</a>
      <a routerLink="/" routerLinkActive="active">Through the Lens</a>
    </div>
    <div class="footer-section">
      <span class="section-header">Categories</span>
      <a routerLink="/" routerLinkActive="active">Sports</a>
      <a routerLink="/" routerLinkActive="active">Traveling</a>
      <a routerLink="/" routerLinkActive="active">Lifestyle</a>

    </div>
    <div class="footer-section">
      <span class="section-header">Contact Details</span>
      <span>info@futuretalk.co.za</span>
      <span>Editor: Lorem Ipsuim</span>

    </div>
  </div>
  <hr class="footer__line">
  <div class="footer__copyright">
    @FutureTalk2022
  </div>
</section>
