.top-video-card {
    &__card {
  
      .label {
        background-color: #157E83;
        width: 5rem;
        padding: 0.3rem 0.3rem 0.3rem 1rem;
        color: #fff;
        z-index: 3;
        position: absolute;
        margin: 1.5rem 0rem;
        box-shadow: inset 12px 0 22px -14px;
      }
  
      .image img {
        width: auto;
        height: 20rem;
        z-index: 0;
      }
  
      .headline {
        background: rgba(0, 0, 0, 0.3);
        width: 35.5rem;
        z-index: 2;
        position: absolute;
        margin: 11.5rem 0rem 0rem;
        ;
        padding: 1.8rem 0rem 1.2rem;
        color: white;
  
        .heading {
          padding: 0rem 1rem 0.5rem;
          font-size: 22px;
          font-weight: 700;
        }
  
        .description {
          padding: 0.5rem 7.2rem 0.5rem 1rem;
  
        }
      }
    }
  }
  