.article-card {
    padding: 2rem;

    &__content {
  
      .image {
        .label {
          background-color: #157E83;
          width: 5rem;
          padding: 0.3rem 0.3rem 0.3rem 1rem;
          color: #fff;
          z-index: 3;
          position: absolute;
          margin: 1.5rem 0rem;
          box-shadow: inset 12px 0 22px -14px;
        }
  
        img {
          width: auto;
          height: 12rem;
          position: relative;
          z-index: 0;
        }
      }
  
      .article-title {
        padding: 1rem 0rem;
  
        .header {
          font-size: 1rem;
          font-weight: 600;
        }
      }
  
      .article-summary {
        width: 22rem;
        display: block;
      }
    }
  
  }
  